<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Simple page</title>
        <meta charset='utf-8'>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
{% block table %}{% endblock %}
<div id="footer" style="text-align: center">
    {% block footer %}
        &copy; Copyright 2017 by <a href="https://vk.com/ruslan.samoylov">Ruslan Samoylov</a>.
    {% endblock %}
</div>
</body>
</html>