{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h3 style="text-align: center">Go</h3>
    <p class="important" style="text-align: center">
        Simple hist
    </p>
{% endblock %}
{% block hist %}
    <p>Something will be here...</p>
{% endblock %}